*{
    font-family: 'Amatic SC', cursive;
font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Fasthand', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif !important; 
}
html{
    width: 100%;
    
}
body{
    width: 100% !important; 
    /* background-image: url(/assets/imges/Body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    padding: 5px;
}
